<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Servicio Tecnico</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container container-fluid">
                <img th:src="@{/images/icon.png}" class="p-2" alt="icono" width="70" height="70"/>
                <a class="navbar-brand fs-2 p-2">Hola! Bienvenido al servicio tecnico ECSON</a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">


                </div>
            </div>
        </nav>
        


        <div class="container text-center mt-2 ">
            <form th:action="@{/cliente/reporte}" method="POST" >
                <div class="row ">

                    <div class="col">
                        <div class="card border border-dark text-bg-light mb-3" style="height:25rem;" th:object="${miCliente}" >
                            <div class="d-flex justify-content-center  "><img th:src="@{/images/error.png}" class="p-2 text-center" alt="icono" style="width: 20rem; height:10rem;" /></div>

                            <div class="card-body m-2">
                                <div class="form-floating mb-3 ">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Digite Nombre" th:field="*{nombre}">
                                    <label for="floatingInput">Nombre</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Digite Direccion" th:field="*{direccion}">
                                    <label for="floatingInput">Direccion</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border border-dark text-bg-light mb-3" style="height:25rem;" th:object="${miFalla}">
                            <p class="card-text p-2">Por favor, Cuentanos todo lo sucedido, enseguida te ayudaremos a solucionar tu problema</p>
                            <div class="card-body">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" th:field="*{descripcion}"></textarea>
                                    <label for="floatingTextarea2">Comentarios</label>
                                </div>
                                <button class="btn btn-primary p-2 m-2" type="submit">Reportar Falla</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>   
        </div>
       
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
        
    </body>
</html>