<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Servicio Tecnico</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container container-fluid">
                <img th:src="@{/images/icon.png}" class="p-2" alt="icono" width="70" height="70"/>
                <a class="navbar-brand fs-2 p-2">Bienvenido al servicio tecnico ECSON</a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                </div>
            </div>
        </nav>


        <main class="container">


            <h1 class="text-center" th:unless="${tecnico}">El tecnico no existe</h1>
            
<!--            <h1  th:text="${id}">sadsd</h1>-->
            <div th:if="${tecnico}">
                <div class="card mt-2  card text-bg-light mb-3 text-primary" >
                    <div class="" th:if="${tecnico}">
                        <h1 class="text-center fs-1 fw-bold" th:text="${'Hola '+tecnico.nombre+' !Es un gusto saludarte.'}"></h1>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="@{/images/calendario.png}" class="p-2" alt="icono" width="400em" height="400em"/>
                        </div>

                        <div class="col-md-8 ">
                            <div class="card-body" >
                                <h3 class="fs-2 " >Tus horarios son:</h3>
<!--                                <h1 th:text="${id}"></h1>-->
<!--                                <form th:action="@{/tecnico/formulario/}+${id}+'/'">-->
                                    
<!--                                    <h1 id="miid" th:text="${miid}">sadsd</h1>-->
                                <div th:each="variable : ${listaHorarios}"   th:with="resultado=${tecnico.validarOcupado({variable})}" class="d-grid gap-2" >
                                    <!--aca le damos el valor al retorno valido-->
                                        <!--type="submit"-->
                                        <a  th:href="@{/tecnico/formulario/} + ${id}+'/'+${hora}" th:with="hora=${variable}" th:if="${resultado}" class="m-2 btn btn-outline-success d-flex justify-content-between align-items-center">
                                            
                                            
                                            <p  th:text="${variable}"   class="m-0 fs-3"></p>
                                            
                                            <span class="fs-3">Cita Asignada</span>
                                             
                                            <img th:src="@{/images/calendar.svg}" class="p-1" alt="icono"/>
                                            
                                        </a>
                                    
                                    
                                        <button type="button"  th:if="${!resultado}" class="m-2 btn btn-outline-primary d-flex justify-content-between align-items-center" disabled>
                                            
                                            
                                            <p  th:text="${variable}" class="m-0 fs-3"></p>
                                            <span class="fs-3">Cita Disponible</span>
                                            <img th:src="@{/images/calendar.svg}" class="p-1" alt="icono"/>
                                        </button>
                                    
                                    
<!--                                    </form>-->

                                    <!--<p  th:text="${tecnico.validarOcupado({variable})}"></p>-->

                                    
                                </div>


                            </div>
                             <footer class="m-2 blockquote-footer">Recuerda que puedes hacer click en la cita para entrar en la ventana de reportes<cite title="Source Title"></cite></footer>
                        </div>
                        
                    </div>
                </div>
               

            </div>

        </ul>
    </main>


    <!--    <ul th:each="variable : ${tecnicos}">
         
          <li  th:text="${variable.id}"></li>
          <li  th:text="${variable.horario}"></li>
         </ul>-->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>